# Byte-compiled / optimized / C-extensions
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment & Virtual Environments
.env
.venv
env/
venv/
ENV/

# PyInstaller
*.manifest
*.spec

# Testing
*.cover
*.py,cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.lcov
*.prof
.pytest_cache/
.tox/

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo
*~

# OS-specific
.DS_Store
Thumbs.db
