__pycache__/
*.pyc
*.so
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
build/
dist/
htmlcov/
.coverage.*
.nox/
.tox/
.ipynb_checkpoints/
.env
.vscode/
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
*.bak